<section class="vh-100">
    <div class="container py-5 h-100">
        <h4>Login</h4>
      <div class="row d-flex align-items-center justify-content-center h-100">
          <form #f="ngForm" (ngSubmit)="signIn(f.value)">
            <div *ngIf="inValidLogin" class="alert alert-danger">Invalid username and/or password!</div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" [(ngModel)]="email" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example13">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="password" [(ngModel)]="password"  class="form-control form-control-lg" />
              <label class="form-label" for="form1Example23">Password</label>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  checked
                />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
  
          </form>
      </div>
    </div>
  </section>